In [1]:
import pandas as pd  # convention to import and use pandas like this

df = pd.read_csv("hgdp-ceph-geno.out",sep="\t")

In [2]:
import numpy as np

In [3]:
p12 = df.query("pop_id == 12 and mkr_ceph_id == 1005", inplace=False)
p12.allele2

1030377    1
1030378    1
1030379    1
1030380    1
1030381    1
1030382    1
1030383    1
1030384    1
1030385    1
1030386    1
1030387    1
1030388    1
1030389    1
1030390    1
1030391    1
1030392    1
1030393    1
1030394    1
1030395    1
1030396    1
1030397    1
1030398    1
1030399    1
1030400    1
1030401    1
Name: allele2, dtype: int64

In [4]:
p12

           hgdp_id  pop_id  mkr_ceph_id  allele1  allele2
1030377  HGDP00001      12         1005        1        1
1030378  HGDP00003      12         1005        1        1
1030379  HGDP00005      12         1005        1        1
1030380  HGDP00007      12         1005        1        1
1030381  HGDP00009      12         1005        1        1
1030382  HGDP00011      12         1005        1        1
1030383  HGDP00013      12         1005        1        1
1030384  HGDP00015      12         1005        1        1
1030385  HGDP00017      12         1005        1        1
1030386  HGDP00019      12         1005        1        1
1030387  HGDP00021      12         1005        1        1
1030388  HGDP00023      12         1005        1        1
1030389  HGDP00025      12         1005        1        1
1030390  HGDP00027      12         1005        1        1
1030391  HGDP00029      12         1005        1        1
1030392  HGDP00031      12         1005        1        1
1030393  HGDP00033      12         1005        1        1
1030394  HGDP00035      12         1005        1        1
1030395  HGDP00037      12         1005        1        1
1030396  HGDP00039      12         1005        1        1
1030397  HGDP00041      12         1005        1        1
1030398  HGDP00043      12         1005        1        1
1030399  HGDP00045      12         1005        1        1
1030400  HGDP00047      12         1005        1        1
1030401  HGDP00049      12         1005        1        1

In [5]:
pdf = pd.read_csv("hgdp-ceph-unrelated.out",sep="\t")

In [6]:
distantdata = pdf[pdf["Geographic origin"].isin(["Central African Republic","Nigeria","Democratic Republic of Congo", "Kenya","Namibia","Senegal","South Africa","China","Pakistan","Cambodia","Japan","Siberia","France","Italy","Orkney Islands","Italy (Bergamo)","Russia","Russia Caucasus"])]
distantdata

       hgdp_id Gender  population Geographic origin              Region
0    HGDP00001      M      Brahui          Pakistan                Asia
1    HGDP00003      M      Brahui          Pakistan                Asia
2    HGDP00005      M      Brahui          Pakistan                Asia
3    HGDP00007      M      Brahui          Pakistan                Asia
4    HGDP00009      M      Brahui          Pakistan                Asia
..         ...    ...         ...               ...                 ...
947  HGDP01415      M  Bantu_N.E.             Kenya  Subsaharian Africa
948  HGDP01416      M  Bantu_N.E.             Kenya  Subsaharian Africa
949  HGDP01417      M  Bantu_N.E.             Kenya  Subsaharian Africa
950  HGDP01418      M  Bantu_N.E.             Kenya  Subsaharian Africa
951  HGDP01419      M  Bantu_N.E.             Kenya  Subsaharian Africa

[697 rows x 5 columns]

In [7]:
distantdata = df.merge(distantdata, on='hgdp_id',how='inner')

In [8]:
distantdata

,hgdp_id,pop_id,mkr_ceph_id,allele1,allele2,Gender,population,Geographic origin,Region
0,HGDP00001,12,22,15,7,M,Brahui,Pakistan,Asia
1,HGDP00001,12,32,2,2,M,Brahui,Pakistan,Asia
2,HGDP00001,12,34,6,2,M,Brahui,Pakistan,Asia
3,HGDP00001,12,68,10,9,M,Brahui,Pakistan,Asia
4,HGDP00001,12,73,7,5,M,Brahui,Pakistan,Asia
...,...,...,...,...,...,...,...,...,...
3389720,HGDP01072,46,4987,2,2,F,Sardinian,Italy,Europe
3389721,HGDP01072,46,4988,2,2,F,Sardinian,Italy,Europe
3389722,HGDP01072,46,4989,1,1,F,Sardinian,Italy,Europe
3389723,HGDP01072,46,4990,1,1,F,Sardinian,Italy,Europe
3389724,HGDP01072,46,4991,2,2,F,Sardinian,Italy,Europe

In [9]:
distantdata.head(0)

Empty DataFrame
Columns: [hgdp_id, pop_id, mkr_ceph_id, allele1, allele2, Gender, population, Geographic origin, Region]
Index: []

In [10]:
snpdf = pd.read_csv("hgdp-ceph-marker.out",sep="\t") 
snpdf = snpdf[snpdf.type_marker == 'snp']
used_snp = pd.DataFrame(snpdf, columns = ["mkr_ceph_id"])

In [11]:
used_snp

      mkr_ceph_id
835           836
836           837
837           838
838           839
839           840
...           ...
4985         4986
4987         4988
4988         4989
4989         4990
4990         4991

[4141 rows x 1 columns]

In [12]:
distantdata[distantdata.hgdp_id == 'HGDP00001']

,hgdp_id,pop_id,mkr_ceph_id,allele1,allele2,Gender,population,Geographic origin,Region
0,HGDP00001,12,22,15,7,M,Brahui,Pakistan,Asia
1,HGDP00001,12,32,2,2,M,Brahui,Pakistan,Asia
2,HGDP00001,12,34,6,2,M,Brahui,Pakistan,Asia
3,HGDP00001,12,68,10,9,M,Brahui,Pakistan,Asia
4,HGDP00001,12,73,7,5,M,Brahui,Pakistan,Asia
...,...,...,...,...,...,...,...,...,...
4948,HGDP00001,12,4987,2,2,M,Brahui,Pakistan,Asia
4949,HGDP00001,12,4988,1,2,M,Brahui,Pakistan,Asia
4950,HGDP00001,12,4989,1,1,M,Brahui,Pakistan,Asia
4951,HGDP00001,12,4990,1,1,M,Brahui,Pakistan,Asia
4952,HGDP00001,12,4991,1,1,M,Brahui,Pakistan,Asia

In [13]:
distantdata

,hgdp_id,pop_id,mkr_ceph_id,allele1,allele2,Gender,population,Geographic origin,Region
0,HGDP00001,12,22,15,7,M,Brahui,Pakistan,Asia
1,HGDP00001,12,32,2,2,M,Brahui,Pakistan,Asia
2,HGDP00001,12,34,6,2,M,Brahui,Pakistan,Asia
3,HGDP00001,12,68,10,9,M,Brahui,Pakistan,Asia
4,HGDP00001,12,73,7,5,M,Brahui,Pakistan,Asia
...,...,...,...,...,...,...,...,...,...
3389720,HGDP01072,46,4987,2,2,F,Sardinian,Italy,Europe
3389721,HGDP01072,46,4988,2,2,F,Sardinian,Italy,Europe
3389722,HGDP01072,46,4989,1,1,F,Sardinian,Italy,Europe
3389723,HGDP01072,46,4990,1,1,F,Sardinian,Italy,Europe
3389724,HGDP01072,46,4991,2,2,F,Sardinian,Italy,Europe

In [14]:
distantdata = used_snp.merge(distantdata, on = "mkr_ceph_id", how = "inner")

In [15]:
distantdata[distantdata.hgdp_id == 'HGDP00005']

,mkr_ceph_id,hgdp_id,pop_id,allele1,allele2,Gender,population,Geographic origin,Region
2,836,HGDP00005,12,1,1,M,Brahui,Pakistan,Asia
696,837,HGDP00005,12,2,2,M,Brahui,Pakistan,Asia
1368,838,HGDP00005,12,1,2,M,Brahui,Pakistan,Asia
1988,839,HGDP00005,12,1,2,M,Brahui,Pakistan,Asia
2681,840,HGDP00005,12,1,2,M,Brahui,Pakistan,Asia
...,...,...,...,...,...,...,...,...,...
2817556,4986,HGDP00005,12,1,1,M,Brahui,Pakistan,Asia
2818182,4988,HGDP00005,12,1,1,M,Brahui,Pakistan,Asia
2818808,4989,HGDP00005,12,1,1,M,Brahui,Pakistan,Asia
2819434,4990,HGDP00005,12,1,1,M,Brahui,Pakistan,Asia
2820060,4991,HGDP00005,12,1,1,M,Brahui,Pakistan,Asia

In [16]:
uhgdp = pd.unique(distantdata.hgdp_id)
usnp = pd.unique(distantdata.mkr_ceph_id)

In [17]:
usnp

array([ 836,  837,  838, ..., 4989, 4990, 4991], dtype=int64)

In [18]:
len(usnp)
len(uhgdp)

697

In [19]:
used_snp = pd.DataFrame(distantdata, columns =["hgdp_id"])

In [20]:
used_snp

           hgdp_id
0        HGDP00001
1        HGDP00003
2        HGDP00005
3        HGDP00007
4        HGDP00009
...            ...
2820679  HGDP01363
2820680  HGDP01366
2820681  HGDP01367
2820682  HGDP01399
2820683  HGDP01072

[2820684 rows x 1 columns]

In [21]:
snp_ab = []
for i in usnp:
    snp_ab.append("s"+str(i).rjust(4, "0")+"_a")
    snp_ab.append("s"+str(i).rjust(4, "0")+"_b")

In [22]:
df1 = pd.DataFrame(columns = snp_ab)
df1

Empty DataFrame
Columns: [s0836_a, s0836_b, s0837_a, s0837_b, s0838_a, s0838_b, s0839_a, s0839_b, s0840_a, s0840_b, s0841_a, s0841_b, s0842_a, s0842_b, s0843_a, s0843_b, s0844_a, s0844_b, s0845_a, s0845_b, s0846_a, s0846_b, s0847_a, s0847_b, s0848_a, s0848_b, s0849_a, s0849_b, s0850_a, s0850_b, s0851_a, s0851_b, s0852_a, s0852_b, s0853_a, s0853_b, s0854_a, s0854_b, s0855_a, s0855_b, s0856_a, s0856_b, s0857_a, s0857_b, s0858_a, s0858_b, s0859_a, s0859_b, s0860_a, s0860_b, s0861_a, s0861_b, s0862_a, s0862_b, s0863_a, s0863_b, s0864_a, s0864_b, s0865_a, s0865_b, s0866_a, s0866_b, s0867_a, s0867_b, s0868_a, s0868_b, s0869_a, s0869_b, s0870_a, s0870_b, s0871_a, s0871_b, s0872_a, s0872_b, s0873_a, s0873_b, s0874_a, s0874_b, s0875_a, s0875_b, s0876_a, s0876_b, s0877_a, s0877_b, s0878_a, s0878_b, s0879_a, s0879_b, s0880_a, s0880_b, s0881_a, s0881_b, s0882_a, s0882_b, s0883_a, s0883_b, s0884_a, s0884_b, s0885_a, s0885_b, ...]
Index: []

[0 rows x 8282 columns]

In [23]:
snpdf[['ref_allele','var_allele']] = snpdf.poly.str.split("/",1, expand = True) 
snpval = pd.DataFrame(snpdf, columns = ["mkr_ceph_id","ref_allele","var_allele"])
snpval

      mkr_ceph_id ref_allele var_allele
835           836          T          C
836           837          A          G
837           838          A          C
838           839          T          G
839           840          T          A
...           ...        ...        ...
4985         4986          G          A
4987         4988          G          C
4988         4989          G          A
4989         4990          C          T
4990         4991          C          T

[4141 rows x 3 columns]

In [24]:
snp_ab

['s0836_a',
 's0836_b',
 's0837_a',
 's0837_b',
 's0838_a',
 's0838_b',
 's0839_a',
 's0839_b',
 's0840_a',
 's0840_b',
 's0841_a',
 's0841_b',
 's0842_a',
 's0842_b',
 's0843_a',
 's0843_b',
 's0844_a',
 's0844_b',
 's0845_a',
 's0845_b',
 's0846_a',
 's0846_b',
 's0847_a',
 's0847_b',
 's0848_a',
 's0848_b',
 's0849_a',
 's0849_b',
 's0850_a',
 's0850_b',
 's0851_a',
 's0851_b',
 's0852_a',
 's0852_b',
 's0853_a',
 's0853_b',
 's0854_a',
 's0854_b',
 's0855_a',
 's0855_b',
 's0856_a',
 's0856_b',
 's0857_a',
 's0857_b',
 's0858_a',
 's0858_b',
 's0859_a',
 's0859_b',
 's0860_a',
 's0860_b',
 's0861_a',
 's0861_b',
 's0862_a',
 's0862_b',
 's0863_a',
 's0863_b',
 's0864_a',
 's0864_b',
 's0865_a',
 's0865_b',
 's0866_a',
 's0866_b',
 's0867_a',
 's0867_b',
 's0868_a',
 's0868_b',
 's0869_a',
 's0869_b',
 's0870_a',
 's0870_b',
 's0871_a',
 's0871_b',
 's0872_a',
 's0872_b',
 's0873_a',
 's0873_b',
 's0874_a',
 's0874_b',
 's0875_a',
 's0875_b',
 's0876_a',
 's0876_b',
 's0877_a',
 's0877_b',
 's0878_a',
 's0878_b',
 's0879_a',
 's0879_b',
 's0880_a',
 's0880_b',
 's0881_a',
 's0881_b',
 's0882_a',
 's0882_b',
 's0883_a',
 's0883_b',
 's0884_a',
 's0884_b',
 's0885_a',
 's0885_b',
 's0886_a',
 's0886_b',
 's0887_a',
 's0887_b',
 's0888_a',
 's0888_b',
 's0889_a',
 's0889_b',
 's0890_a',
 's0890_b',
 's0891_a',
 's0891_b',
 's0892_a',
 's0892_b',
 's0893_a',
 's0893_b',
 's0894_a',
 's0894_b',
 's0895_a',
 's0895_b',
 's0896_a',
 's0896_b',
 's0897_a',
 's0897_b',
 's0898_a',
 's0898_b',
 's0899_a',
 's0899_b',
 's0900_a',
 's0900_b',
 's0901_a',
 's0901_b',
 's0902_a',
 's0902_b',
 's0903_a',
 's0903_b',
 's0904_a',
 's0904_b',
 's0905_a',
 's0905_b',
 's0906_a',
 's0906_b',
 's0907_a',
 's0907_b',
 's0908_a',
 's0908_b',
 's0909_a',
 's0909_b',
 's0910_a',
 's0910_b',
 's0911_a',
 's0911_b',
 's0912_a',
 's0912_b',
 's0913_a',
 's0913_b',
 's0915_a',
 's0915_b',
 's0916_a',
 's0916_b',
 's0917_a',
 's0917_b',
 's0918_a',
 's0918_b',
 's0919_a',
 's0919_b',
 's0920_a',
 's0920_b',
 's0921_a',
 's0921_b',
 's0922_a',
 's0922_b',
 's0923_a',
 's0923_b',
 's0924_a',
 's0924_b',
 's0925_a',
 's0925_b',
 's0926_a',
 's0926_b',
 's0927_a',
 's0927_b',
 's0928_a',
 's0928_b',
 's0929_a',
 's0929_b',
 's0930_a',
 's0930_b',
 's0931_a',
 's0931_b',
 's0932_a',
 's0932_b',
 's0933_a',
 's0933_b',
 's0934_a',
 's0934_b',
 's0935_a',
 's0935_b',
 's0936_a',
 's0936_b',
 's0937_a',
 's0937_b',
 's0938_a',
 's0938_b',
 's0939_a',
 's0939_b',
 's0940_a',
 's0940_b',
 's0941_a',
 's0941_b',
 's0942_a',
 's0942_b',
 's0943_a',
 's0943_b',
 's0944_a',
 's0944_b',
 's0945_a',
 's0945_b',
 's0946_a',
 's0946_b',
 's0947_a',
 's0947_b',
 's0948_a',
 's0948_b',
 's0949_a',
 's0949_b',
 's0950_a',
 's0950_b',
 's0951_a',
 's0951_b',
 's0952_a',
 's0952_b',
 's0953_a',
 's0953_b',
 's0954_a',
 's0954_b',
 's0955_a',
 's0955_b',
 's0956_a',
 's0956_b',
 's0957_a',
 's0957_b',
 's0958_a',
 's0958_b',
 's0959_a',
 's0959_b',
 's0960_a',
 's0960_b',
 's0961_a',
 's0961_b',
 's0962_a',
 's0962_b',
 's0963_a',
 's0963_b',
 's0964_a',
 's0964_b',
 's0965_a',
 's0965_b',
 's0966_a',
 's0966_b',
 's0967_a',
 's0967_b',
 's0968_a',
 's0968_b',
 's0969_a',
 's0969_b',
 's0970_a',
 's0970_b',
 's0971_a',
 's0971_b',
 's0972_a',
 's0972_b',
 's0973_a',
 's0973_b',
 's0974_a',
 's0974_b',
 's0975_a',
 's0975_b',
 's0976_a',
 's0976_b',
 's0977_a',
 's0977_b',
 's0978_a',
 's0978_b',
 's0979_a',
 's0979_b',
 's0980_a',
 's0980_b',
 's0981_a',
 's0981_b',
 's0982_a',
 's0982_b',
 's0983_a',
 's0983_b',
 's0984_a',
 's0984_b',
 's0985_a',
 's0985_b',
 's0986_a',
 's0986_b',
 's0987_a',
 's0987_b',
 's0988_a',
 's0988_b',
 's0989_a',
 's0989_b',
 's0990_a',
 's0990_b',
 's0991_a',
 's0991_b',
 's0992_a',
 's0992_b',
 's0993_a',
 's0993_b',
 's0994_a',
 's0994_b',
 's0995_a',
 's0995_b',
 's0996_a',
 's0996_b',
 's0997_a',
 's0997_b',
 's0998_a',
 's0998_b',
 's0999_a',
 's0999_b',
 's1000_a',
 's1000_b',
 's1001_a',
 's1001_b',
 's1002_a',
 's1002_b',
 's1003_a',
 's1003_b',
 's1004_a',
 's1004_b',
 's1005_a',
 's1005_b',
 's1006_a',
 's1006_b',
 's1007_a',
 's1007_b',
 's1008_a',
 's1008_b',
 's1009_a',
 's1009_b',
 's1010_a',
 's1010_b',
 's1011_a',
 's1011_b',
 's1012_a',
 's1012_b',
 's1013_a',
 's1013_b',
 's1014_a',
 's1014_b',
 's1015_a',
 's1015_b',
 's1016_a',
 's1016_b',
 's1017_a',
 's1017_b',
 's1018_a',
 's1018_b',
 's1019_a',
 's1019_b',
 's1020_a',
 's1020_b',
 's1021_a',
 's1021_b',
 's1022_a',
 's1022_b',
 's1023_a',
 's1023_b',
 's1024_a',
 's1024_b',
 's1025_a',
 's1025_b',
 's1026_a',
 's1026_b',
 's1027_a',
 's1027_b',
 's1028_a',
 's1028_b',
 's1029_a',
 's1029_b',
 's1030_a',
 's1030_b',
 's1031_a',
 's1031_b',
 's1032_a',
 's1032_b',
 's1033_a',
 's1033_b',
 's1034_a',
 's1034_b',
 's1035_a',
 's1035_b',
 's1036_a',
 's1036_b',
 's1037_a',
 's1037_b',
 's1038_a',
 's1038_b',
 's1039_a',
 's1039_b',
 's1040_a',
 's1040_b',
 's1041_a',
 's1041_b',
 's1042_a',
 's1042_b',
 's1043_a',
 's1043_b',
 's1044_a',
 's1044_b',
 's1045_a',
 's1045_b',
 's1046_a',
 's1046_b',
 's1047_a',
 's1047_b',
 's1048_a',
 's1048_b',
 's1049_a',
 's1049_b',
 's1050_a',
 's1050_b',
 's1051_a',
 's1051_b',
 's1052_a',
 's1052_b',
 's1053_a',
 's1053_b',
 's1054_a',
 's1054_b',
 's1055_a',
 's1055_b',
 's1056_a',
 's1056_b',
 's1057_a',
 's1057_b',
 's1058_a',
 's1058_b',
 's1059_a',
 's1059_b',
 's1060_a',
 's1060_b',
 's1061_a',
 's1061_b',
 's1062_a',
 's1062_b',
 's1063_a',
 's1063_b',
 's1064_a',
 's1064_b',
 's1065_a',
 's1065_b',
 's1066_a',
 's1066_b',
 's1067_a',
 's1067_b',
 's1068_a',
 's1068_b',
 's1069_a',
 's1069_b',
 's1070_a',
 's1070_b',
 's1071_a',
 's1071_b',
 's1072_a',
 's1072_b',
 's1073_a',
 's1073_b',
 's1074_a',
 's1074_b',
 's1075_a',
 's1075_b',
 's1076_a',
 's1076_b',
 's1077_a',
 's1077_b',
 's1078_a',
 's1078_b',
 's1079_a',
 's1079_b',
 's1080_a',
 's1080_b',
 's1081_a',
 's1081_b',
 's1082_a',
 's1082_b',
 's1083_a',
 's1083_b',
 's1084_a',
 's1084_b',
 's1085_a',
 's1085_b',
 's1086_a',
 's1086_b',
 's1087_a',
 's1087_b',
 's1088_a',
 's1088_b',
 's1089_a',
 's1089_b',
 's1090_a',
 's1090_b',
 's1091_a',
 's1091_b',
 's1092_a',
 's1092_b',
 's1093_a',
 's1093_b',
 's1094_a',
 's1094_b',
 's1095_a',
 's1095_b',
 's1096_a',
 's1096_b',
 's1097_a',
 's1097_b',
 's1098_a',
 's1098_b',
 's1099_a',
 's1099_b',
 's1100_a',
 's1100_b',
 's1101_a',
 's1101_b',
 's1102_a',
 's1102_b',
 's1103_a',
 's1103_b',
 's1104_a',
 's1104_b',
 's1105_a',
 's1105_b',
 's1106_a',
 's1106_b',
 's1107_a',
 's1107_b',
 's1108_a',
 's1108_b',
 's1109_a',
 's1109_b',
 's1110_a',
 's1110_b',
 's1111_a',
 's1111_b',
 's1112_a',
 's1112_b',
 's1113_a',
 's1113_b',
 's1114_a',
 's1114_b',
 's1115_a',
 's1115_b',
 's1116_a',
 's1116_b',
 's1117_a',
 's1117_b',
 's1118_a',
 's1118_b',
 's1119_a',
 's1119_b',
 's1120_a',
 's1120_b',
 's1121_a',
 's1121_b',
 's1122_a',
 's1122_b',
 's1123_a',
 's1123_b',
 's1124_a',
 's1124_b',
 's1125_a',
 's1125_b',
 's1126_a',
 's1126_b',
 's1127_a',
 's1127_b',
 's1128_a',
 's1128_b',
 's1129_a',
 's1129_b',
 's1131_a',
 's1131_b',
 's1132_a',
 's1132_b',
 's1133_a',
 's1133_b',
 's1134_a',
 's1134_b',
 's1135_a',
 's1135_b',
 's1136_a',
 's1136_b',
 's1137_a',
 's1137_b',
 's1138_a',
 's1138_b',
 's1139_a',
 's1139_b',
 's1140_a',
 's1140_b',
 's1141_a',
 's1141_b',
 's1142_a',
 's1142_b',
 's1143_a',
 's1143_b',
 's1144_a',
 's1144_b',
 's1145_a',
 's1145_b',
 's1146_a',
 's1146_b',
 's1147_a',
 's1147_b',
 's1148_a',
 's1148_b',
 's1149_a',
 's1149_b',
 's1150_a',
 's1150_b',
 's1151_a',
 's1151_b',
 's1152_a',
 's1152_b',
 's1153_a',
 's1153_b',
 's1154_a',
 's1154_b',
 's1155_a',
 's1155_b',
 's1156_a',
 's1156_b',
 's1157_a',
 's1157_b',
 's1158_a',
 's1158_b',
 's1159_a',
 's1159_b',
 's1160_a',
 's1160_b',
 's1161_a',
 's1161_b',
 's1162_a',
 's1162_b',
 's1163_a',
 's1163_b',
 's1164_a',
 's1164_b',
 's1165_a',
 's1165_b',
 's1166_a',
 's1166_b',
 's1167_a',
 's1167_b',
 's1168_a',
 's1168_b',
 's1169_a',
 's1169_b',
 's1170_a',
 's1170_b',
 's1171_a',
 's1171_b',
 's1172_a',
 's1172_b',
 's1173_a',
 's1173_b',
 's1174_a',
 's1174_b',
 's1175_a',
 's1175_b',
 's1176_a',
 's1176_b',
 's1177_a',
 's1177_b',
 's1178_a',
 's1178_b',
 's1179_a',
 's1179_b',
 's1180_a',
 's1180_b',
 's1181_a',
 's1181_b',
 's1182_a',
 's1182_b',
 's1183_a',
 's1183_b',
 's1184_a',
 's1184_b',
 's1185_a',
 's1185_b',
 's1186_a',
 's1186_b',
 's1188_a',
 's1188_b',
 's1189_a',
 's1189_b',
 's1190_a',
 's1190_b',
 's1191_a',
 's1191_b',
 's1192_a',
 's1192_b',
 's1193_a',
 's1193_b',
 's1194_a',
 's1194_b',
 's1195_a',
 's1195_b',
 's1196_a',
 's1196_b',
 's1197_a',
 's1197_b',
 's1198_a',
 's1198_b',
 's1199_a',
 's1199_b',
 's1200_a',
 's1200_b',
 's1201_a',
 's1201_b',
 's1202_a',
 's1202_b',
 's1203_a',
 's1203_b',
 's1204_a',
 's1204_b',
 's1205_a',
 's1205_b',
 's1206_a',
 's1206_b',
 's1207_a',
 's1207_b',
 's1208_a',
 's1208_b',
 's1209_a',
 's1209_b',
 's1210_a',
 's1210_b',
 's1211_a',
 's1211_b',
 's1212_a',
 's1212_b',
 's1213_a',
 's1213_b',
 's1214_a',
 's1214_b',
 's1215_a',
 's1215_b',
 's1216_a',
 's1216_b',
 's1217_a',
 's1217_b',
 's1218_a',
 's1218_b',
 's1219_a',
 's1219_b',
 's1220_a',
 's1220_b',
 's1221_a',
 's1221_b',
 's1222_a',
 's1222_b',
 's1223_a',
 's1223_b',
 's1224_a',
 's1224_b',
 's1225_a',
 's1225_b',
 's1226_a',
 's1226_b',
 's1227_a',
 's1227_b',
 's1228_a',
 's1228_b',
 's1229_a',
 's1229_b',
 's1230_a',
 's1230_b',
 's1231_a',
 's1231_b',
 's1232_a',
 's1232_b',
 's1233_a',
 's1233_b',
 's1234_a',
 's1234_b',
 's1235_a',
 's1235_b',
 's1236_a',
 's1236_b',
 's1237_a',
 's1237_b',
 's1238_a',
 's1238_b',
 's1239_a',
 's1239_b',
 's1240_a',
 's1240_b',
 's1241_a',
 's1241_b',
 's1242_a',
 's1242_b',
 's1243_a',
 's1243_b',
 's1244_a',
 's1244_b',
 's1245_a',
 's1245_b',
 's1246_a',
 's1246_b',
 's1247_a',
 's1247_b',
 's1248_a',
 's1248_b',
 's1249_a',
 's1249_b',
 's1250_a',
 's1250_b',
 's1251_a',
 's1251_b',
 's1252_a',
 's1252_b',
 's1253_a',
 's1253_b',
 's1254_a',
 's1254_b',
 's1255_a',
 's1255_b',
 's1256_a',
 's1256_b',
 's1257_a',
 's1257_b',
 's1258_a',
 's1258_b',
 's1259_a',
 's1259_b',
 's1260_a',
 's1260_b',
 's1261_a',
 's1261_b',
 's1262_a',
 's1262_b',
 's1263_a',
 's1263_b',
 's1264_a',
 's1264_b',
 's1265_a',
 's1265_b',
 's1266_a',
 's1266_b',
 's1267_a',
 's1267_b',
 's1268_a',
 's1268_b',
 's1269_a',
 's1269_b',
 's1270_a',
 's1270_b',
 's1271_a',
 's1271_b',
 's1272_a',
 's1272_b',
 's1273_a',
 's1273_b',
 's1275_a',
 's1275_b',
 's1276_a',
 's1276_b',
 's1277_a',
 's1277_b',
 's1278_a',
 's1278_b',
 's1279_a',
 's1279_b',
 's1280_a',
 's1280_b',
 's1281_a',
 's1281_b',
 's1282_a',
 's1282_b',
 's1283_a',
 's1283_b',
 's1284_a',
 's1284_b',
 's1285_a',
 's1285_b',
 's1286_a',
 's1286_b',
 's1287_a',
 's1287_b',
 's1288_a',
 's1288_b',
 's1289_a',
 's1289_b',
 's1290_a',
 's1290_b',
 's1291_a',
 's1291_b',
 's1292_a',
 's1292_b',
 's1293_a',
 's1293_b',
 's1294_a',
 's1294_b',
 's1295_a',
 's1295_b',
 's1296_a',
 's1296_b',
 's1297_a',
 's1297_b',
 's1298_a',
 's1298_b',
 's1299_a',
 's1299_b',
 's1300_a',
 's1300_b',
 's1301_a',
 's1301_b',
 's1302_a',
 's1302_b',
 's1303_a',
 's1303_b',
 's1304_a',
 's1304_b',
 's1305_a',
 's1305_b',
 's1306_a',
 's1306_b',
 's1307_a',
 's1307_b',
 's1308_a',
 's1308_b',
 's1309_a',
 's1309_b',
 's1310_a',
 's1310_b',
 's1311_a',
 's1311_b',
 's1312_a',
 's1312_b',
 's1313_a',
 's1313_b',
 's1314_a',
 's1314_b',
 's1315_a',
 's1315_b',
 's1316_a',
 's1316_b',
 's1318_a',
 's1318_b',
 's1319_a',
 's1319_b',
 's1320_a',
 's1320_b',
 's1321_a',
 's1321_b',
 's1322_a',
 's1322_b',
 's1323_a',
 's1323_b',
 's1324_a',
 's1324_b',
 's1325_a',
 's1325_b',
 's1326_a',
 's1326_b',
 's1327_a',
 's1327_b',
 's1328_a',
 's1328_b',
 's1329_a',
 's1329_b',
 's1330_a',
 's1330_b',
 's1331_a',
 's1331_b',
 's1332_a',
 's1332_b',
 's1333_a',
 's1333_b',
 's1334_a',
 's1334_b',
 's1335_a',
 's1335_b',
 's1336_a',
 's1336_b',
 's1337_a',
 's1337_b',
 's1338_a',
 's1338_b',
 's1339_a',
 's1339_b',
 's1340_a',
 's1340_b',
 ...]

In [25]:
'''
i = 1
for pop in uhgdp:
    df2 = pd.DataFrame(columns = [pop])
    print(i/10)
    for snp in usnp:
        allele_val = snpval.query('mkr_ceph_id == @snp', inplace = False).values
        a = distantdata.query('hgdp_id == @pop and mkr_ceph_id == @snp', inplace=False).values
        #corresponding allele1 and allelle2
        #print(len(a))
        if(len(a) == 0 ):
            df2 = df2.append({pop: "0"},ignore_index=True)
            df2 = df2.append({pop: "0"},ignore_index=True)
        else:

            #print(allele_val[0,1])
            if(a[0,3]==1):
                df2 = df2.append({pop: allele_val[0,1]},ignore_index=True)
            elif(a[0,3]==2):
                df2 = df2.append({pop: allele_val[0,2]},ignore_index=True)
            else:
                df2 = df2.append({pop: "0"},ignore_index=True)
            if(a[0,4]==1):
                df2 = df2.append({pop: allele_val[0,1]},ignore_index=True)
            elif(a[0,4]==2):
                df2 = df2.append({pop: allele_val[0,2]},ignore_index=True)
            else:
                df2 = df2.append({pop: "0"},ignore_index=True)
    #df2
    df2t = df2.T
    df2t.columns = snp_ab
    df1 = df1.append(df2t, ignore_index=True)
    i = i+1
df1
#df2.loc[len(df2.index)] = [a.allele1] 
'''

'\ni = 1\nfor pop in uhgdp:\n    df2 = pd.DataFrame(columns = [pop])\n    print(i/10)\n    for snp in usnp:\n        allele_val = snpval.query(\'mkr_ceph_id == @snp\', inplace = False).values\n        a = distantdata.query(\'hgdp_id == @pop and mkr_ceph_id == @snp\', inplace=False).values\n        #corresponding allele1 and allelle2\n        #print(len(a))\n        if(len(a) == 0 ):\n            df2 = df2.append({pop: "0"},ignore_index=True)\n            df2 = df2.append({pop: "0"},ignore_index=True)\n        else:\n\n            #print(allele_val[0,1])\n            if(a[0,3]==1):\n                df2 = df2.append({pop: allele_val[0,1]},ignore_index=True)\n            elif(a[0,3]==2):\n                df2 = df2.append({pop: allele_val[0,2]},ignore_index=True)\n            else:\n                df2 = df2.append({pop: "0"},ignore_index=True)\n            if(a[0,4]==1):\n                df2 = df2.append({pop: allele_val[0,1]},ignore_index=True)\n            elif(a[0,4]==2):\n                df2 = df2.append({pop: allele_val[0,2]},ignore_index=True)\n            else:\n                df2 = df2.append({pop: "0"},ignore_index=True)\n    #df2\n    df2t = df2.T\n    df2t.columns = snp_ab\n    df1 = df1.append(df2t, ignore_index=True)\n    i = i+1\ndf1\n#df2.loc[len(df2.index)] = [a.allele1] \n'

In [26]:
df1 = pd.read_csv("snpdistance/snpfile.csv")

In [27]:
#df1.to_csv ('snpdistance/snpfile.csv', index = None, header=True)
#saving file in case lost

In [28]:
df1

,s0836_a,s0836_b,s0837_a,s0837_b,s0838_a,s0838_b,s0839_a,s0839_b,s0840_a,s0840_b,...,s4986_a,s4986_b,s4988_a,s4988_b,s4989_a,s4989_b,s4990_a,s4990_b,s4991_a,s4991_b
0,T,T,A,A,A,A,G,G,T,T,...,G,G,G,C,G,G,C,C,C,C
1,T,T,A,G,A,A,G,G,T,T,...,G,G,G,G,G,G,C,C,C,C
2,T,T,G,G,A,C,T,G,T,A,...,G,G,G,G,G,G,C,C,C,C
3,T,T,A,G,A,C,T,G,T,A,...,0,0,0,0,0,0,0,0,0,0
4,T,T,G,G,0,0,T,T,A,A,...,G,G,G,G,G,G,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,T,T,G,G,0,0,T,T,A,A,...,0,0,0,0,0,0,0,0,0,0
693,T,T,A,G,A,C,T,G,T,A,...,G,A,C,C,G,G,C,C,T,T
694,0,0,A,G,A,C,T,G,0,0,...,0,0,0,0,0,0,0,0,0,0
695,0,0,A,G,A,C,T,G,T,A,...,G,G,G,C,G,G,C,C,C,C
696,0,0,A,G,0,0,0,0,0,0,...,G,G,G,C,G,G,C,C,C,C

In [29]:
distantdata = pdf[pdf["Geographic origin"].isin(["Central African Republic","Nigeria","Democratic Republic of Congo", "Kenya","Namibia","Senegal","South Africa","China","Pakistan","Cambodia","Japan","Siberia","France","Italy","Orkney Islands","Italy (Bergamo)","Russia","Russia Caucasus"])]

In [30]:
distantdata

       hgdp_id Gender  population Geographic origin              Region
0    HGDP00001      M      Brahui          Pakistan                Asia
1    HGDP00003      M      Brahui          Pakistan                Asia
2    HGDP00005      M      Brahui          Pakistan                Asia
3    HGDP00007      M      Brahui          Pakistan                Asia
4    HGDP00009      M      Brahui          Pakistan                Asia
..         ...    ...         ...               ...                 ...
947  HGDP01415      M  Bantu_N.E.             Kenya  Subsaharian Africa
948  HGDP01416      M  Bantu_N.E.             Kenya  Subsaharian Africa
949  HGDP01417      M  Bantu_N.E.             Kenya  Subsaharian Africa
950  HGDP01418      M  Bantu_N.E.             Kenya  Subsaharian Africa
951  HGDP01419      M  Bantu_N.E.             Kenya  Subsaharian Africa

[697 rows x 5 columns]

In [31]:
distantdata.loc[(distantdata.Gender == 'F'), 'Gender'] = '2'
distantdata.loc[(distantdata.Gender == 'M'), 'Gender'] = '1'
#change above code of F to 2 and run again
distantdata

c:\users\suraj\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-31-51f059a508ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distantdata.loc[(distantdata.Gender == 'F'), 'Gender'] = '2'
<ipython-input-31-51f059a508ce>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distantdata.loc[(distantdata.Gender == 'M'), 'Gender'] = '1'

       hgdp_id Gender  population Geographic origin              Region
0    HGDP00001      1      Brahui          Pakistan                Asia
1    HGDP00003      1      Brahui          Pakistan                Asia
2    HGDP00005      1      Brahui          Pakistan                Asia
3    HGDP00007      1      Brahui          Pakistan                Asia
4    HGDP00009      1      Brahui          Pakistan                Asia
..         ...    ...         ...               ...                 ...
947  HGDP01415      1  Bantu_N.E.             Kenya  Subsaharian Africa
948  HGDP01416      1  Bantu_N.E.             Kenya  Subsaharian Africa
949  HGDP01417      1  Bantu_N.E.             Kenya  Subsaharian Africa
950  HGDP01418      1  Bantu_N.E.             Kenya  Subsaharian Africa
951  HGDP01419      1  Bantu_N.E.             Kenya  Subsaharian Africa

[697 rows x 5 columns]

In [32]:
#male female changed t0 1 and 2
distantdata.Gender.tail(20)

932    1
933    1
934    2
935    2
936    2
937    2
938    1
939    1
940    1
941    1
942    1
943    1
944    1
945    1
946    2
947    1
948    1
949    1
950    1
951    1
Name: Gender, dtype: object

In [33]:
distantdata.insert(0, 'FamilyID', range(1, len(distantdata)+1))
distantdata

,FamilyID,hgdp_id,Gender,population,Geographic origin,Region
0,1,HGDP00001,1,Brahui,Pakistan,Asia
1,2,HGDP00003,1,Brahui,Pakistan,Asia
2,3,HGDP00005,1,Brahui,Pakistan,Asia
3,4,HGDP00007,1,Brahui,Pakistan,Asia
4,5,HGDP00009,1,Brahui,Pakistan,Asia
...,...,...,...,...,...,...
947,693,HGDP01415,1,Bantu_N.E.,Kenya,Subsaharian Africa
948,694,HGDP01416,1,Bantu_N.E.,Kenya,Subsaharian Africa
949,695,HGDP01417,1,Bantu_N.E.,Kenya,Subsaharian Africa
950,696,HGDP01418,1,Bantu_N.E.,Kenya,Subsaharian Africa
951,697,HGDP01419,1,Bantu_N.E.,Kenya,Subsaharian Africa

In [34]:
distantdata

,FamilyID,hgdp_id,Gender,population,Geographic origin,Region
0,1,HGDP00001,1,Brahui,Pakistan,Asia
1,2,HGDP00003,1,Brahui,Pakistan,Asia
2,3,HGDP00005,1,Brahui,Pakistan,Asia
3,4,HGDP00007,1,Brahui,Pakistan,Asia
4,5,HGDP00009,1,Brahui,Pakistan,Asia
...,...,...,...,...,...,...
947,693,HGDP01415,1,Bantu_N.E.,Kenya,Subsaharian Africa
948,694,HGDP01416,1,Bantu_N.E.,Kenya,Subsaharian Africa
949,695,HGDP01417,1,Bantu_N.E.,Kenya,Subsaharian Africa
950,696,HGDP01418,1,Bantu_N.E.,Kenya,Subsaharian Africa
951,697,HGDP01419,1,Bantu_N.E.,Kenya,Subsaharian Africa

In [35]:
pd.unique(distantdata.Region.values)

array(['Asia', 'Subsaharian Africa', 'Europe'], dtype=object)

In [36]:
distantdata['Case'] = 0

<ipython-input-36-2dbbaccfd97e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distantdata['Case'] = 0

In [37]:
distantdata.tail(20)

,FamilyID,hgdp_id,Gender,population,Geographic origin,Region,Case
932,678,HGDP01396,1,Adygei,Russia Caucasus,Europe,0
933,679,HGDP01397,1,Adygei,Russia Caucasus,Europe,0
934,680,HGDP01398,2,Adygei,Russia Caucasus,Europe,0
935,681,HGDP01399,2,Adygei,Russia Caucasus,Europe,0
936,682,HGDP01400,2,Adygei,Russia Caucasus,Europe,0
937,683,HGDP01401,2,Adygei,Russia Caucasus,Europe,0
938,684,HGDP01402,1,Adygei,Russia Caucasus,Europe,0
939,685,HGDP01403,1,Adygei,Russia Caucasus,Europe,0
940,686,HGDP01404,1,Adygei,Russia Caucasus,Europe,0
941,687,HGDP01405,1,Bantu_N.E.,Kenya,Subsaharian Africa,0
942,688,HGDP01406,1,Bantu_N.E.,Kenya,Subsaharian Africa,0
943,689,HGDP01408,1,Bantu_N.E.,Kenya,Subsaharian Africa,0
944,690,HGDP01411,1,Bantu_N.E.,Kenya,Subsaharian Africa,0
945,691,HGDP01412,1,Bantu_N.E.,Kenya,Subsaharian Africa,0
946,692,HGDP01414,2,Bantu_N.E.,Kenya,Subsaharian Africa,0
947,693,HGDP01415,1,Bantu_N.E.,Kenya,Subsaharian Africa,0
948,694,HGDP01416,1,Bantu_N.E.,Kenya,Subsaharian Africa,0
949,695,HGDP01417,1,Bantu_N.E.,Kenya,Subsaharian Africa,0
950,696,HGDP01418,1,Bantu_N.E.,Kenya,Subsaharian Africa,0
951,697,HGDP01419,1,Bantu_N.E.,Kenya,Subsaharian Africa,0

In [38]:
distantdata.loc[(distantdata.Region == 'Asia'), 'Case'] = '1'
distantdata.loc[(distantdata.Region == 'Subsaharian Africa'), 'Case'] = '2'
distantdata.loc[(distantdata.Region == 'Europe'), 'Case'] = '3'

c:\users\suraj\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [39]:
pd.unique(distantdata.Case)

array(['1', '2', '3'], dtype=object)

In [40]:
distantdata['3rd'] = 0
distantdata['4th'] = 0

<ipython-input-40-464df9be6f36>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distantdata['3rd'] = 0
<ipython-input-40-464df9be6f36>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  distantdata['4th'] = 0

In [41]:
distantdata

,FamilyID,hgdp_id,Gender,population,Geographic origin,Region,Case,3rd,4th
0,1,HGDP00001,1,Brahui,Pakistan,Asia,1,0,0
1,2,HGDP00003,1,Brahui,Pakistan,Asia,1,0,0
2,3,HGDP00005,1,Brahui,Pakistan,Asia,1,0,0
3,4,HGDP00007,1,Brahui,Pakistan,Asia,1,0,0
4,5,HGDP00009,1,Brahui,Pakistan,Asia,1,0,0
...,...,...,...,...,...,...,...,...,...
947,693,HGDP01415,1,Bantu_N.E.,Kenya,Subsaharian Africa,2,0,0
948,694,HGDP01416,1,Bantu_N.E.,Kenya,Subsaharian Africa,2,0,0
949,695,HGDP01417,1,Bantu_N.E.,Kenya,Subsaharian Africa,2,0,0
950,696,HGDP01418,1,Bantu_N.E.,Kenya,Subsaharian Africa,2,0,0
951,697,HGDP01419,1,Bantu_N.E.,Kenya,Subsaharian Africa,2,0,0

In [42]:
distantdata = distantdata.reset_index()
indv_data = pd.DataFrame(distantdata, columns = ["FamilyID", "hgdp_id","3rd","4th","Gender","Case"])

In [43]:
indv_data

     FamilyID    hgdp_id  3rd  4th Gender Case
0           1  HGDP00001    0    0      1    1
1           2  HGDP00003    0    0      1    1
2           3  HGDP00005    0    0      1    1
3           4  HGDP00007    0    0      1    1
4           5  HGDP00009    0    0      1    1
..        ...        ...  ...  ...    ...  ...
692       693  HGDP01415    0    0      1    2
693       694  HGDP01416    0    0      1    2
694       695  HGDP01417    0    0      1    2
695       696  HGDP01418    0    0      1    2
696       697  HGDP01419    0    0      1    2

[697 rows x 6 columns]

In [44]:
snpdf

,mkr_ceph_id,mkr_sub_id,identifier,dbsnp_id,genbank_id,method,type_marker,chrom,poly,ancestral_all,physical_pos,comment,version_db_id,gene_symbol,nb_allele,ref_allele,var_allele
835,836,2,rs2275608,rs2275608,NaN,genotyping,snp,1,T/C,NaN,119647103,NaN,V2.0,HSD3B2,2,T,C
836,837,2,G12-hCV-PS2,rs3765949,NaN,genotyping,snp,1,A/G,NaN,119648305,NaN,V2.0,HSD3B2,2,A,G
837,838,2,rs12740687,rs12740687,NaN,genotyping,snp,1,A/C,NaN,119651056,NaN,V2.0,HSD3B2,2,A,C
838,839,2,rs2005390,rs2005390,NaN,genotyping,snp,1,T/G,NaN,119652423,NaN,V2.0,HSD3B2,2,T,G
839,840,2,rs879334,rs879334,NaN,genotyping,snp,1,T/A,NaN,119652797,NaN,V2.0,HSD3B2,2,T,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4985,4986,12,CYP2D6-1846,rs3892097,NaN,genotyping SNaPshot,snp,22,G/A,NaN,40849445,NaN,V2.0,CYP2D6,2,G,A
4987,4988,12,CYP2D6-1661,rs1058164,NaN,genotyping SNaPshot,snp,22,G/C,NaN,40849630,NaN,V2.0,CYP2D6,2,G,C
4988,4989,12,CYP2D6-1659,NaN,NaN,genotyping SNaPshot,snp,22,G/A,NaN,40849632,NaN,V2.0,CYP2D6,2,G,A
4989,4990,12,CYP2D6-1023,rs28371706,NaN,genotyping SNaPshot,snp,22,C/T,NaN,40850270,NaN,V2.0,CYP2D6,2,C,T
4990,4991,12,CYP2D6-100,rs1065852,NaN,genotyping SNaPshot,snp,22,C/T,NaN,40851192,NaN,V2.0,CYP2D6,2,C,T

In [45]:
snpdf['genetic_pos'] = 0.0
snpfile = pd.DataFrame(snpdf, columns = ["chrom","mkr_ceph_id","genetic_pos","physical_pos","ref_allele","var_allele"])
snpfile

      chrom  mkr_ceph_id  genetic_pos  physical_pos ref_allele var_allele
835       1          836          0.0     119647103          T          C
836       1          837          0.0     119648305          A          G
837       1          838          0.0     119651056          A          C
838       1          839          0.0     119652423          T          G
839       1          840          0.0     119652797          T          A
...     ...          ...          ...           ...        ...        ...
4985     22         4986          0.0      40849445          G          A
4987     22         4988          0.0      40849630          G          C
4988     22         4989          0.0      40849632          G          A
4989     22         4990          0.0      40850270          C          T
4990     22         4991          0.0      40851192          C          T

[4141 rows x 6 columns]

In [46]:
ped_result = pd.concat([indv_data, df1], axis=1)

In [47]:
ped_result

,FamilyID,hgdp_id,3rd,4th,Gender,Case,s0836_a,s0836_b,s0837_a,s0837_b,...,s4986_a,s4986_b,s4988_a,s4988_b,s4989_a,s4989_b,s4990_a,s4990_b,s4991_a,s4991_b
0,1,HGDP00001,0,0,1,1,T,T,A,A,...,G,G,G,C,G,G,C,C,C,C
1,2,HGDP00003,0,0,1,1,T,T,A,G,...,G,G,G,G,G,G,C,C,C,C
2,3,HGDP00005,0,0,1,1,T,T,G,G,...,G,G,G,G,G,G,C,C,C,C
3,4,HGDP00007,0,0,1,1,T,T,A,G,...,0,0,0,0,0,0,0,0,0,0
4,5,HGDP00009,0,0,1,1,T,T,G,G,...,G,G,G,G,G,G,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,693,HGDP01415,0,0,1,2,T,T,G,G,...,0,0,0,0,0,0,0,0,0,0
693,694,HGDP01416,0,0,1,2,T,T,A,G,...,G,A,C,C,G,G,C,C,T,T
694,695,HGDP01417,0,0,1,2,0,0,A,G,...,0,0,0,0,0,0,0,0,0,0
695,696,HGDP01418,0,0,1,2,0,0,A,G,...,G,G,G,C,G,G,C,C,C,C
696,697,HGDP01419,0,0,1,2,0,0,A,G,...,G,G,G,C,G,G,C,C,C,C

In [48]:
#snpfile.to_csv ('snpdistance/data.pedsnp', index = None, header=False, sep = "\t")
#ped_result.to_csv ('snpdistance/data.ped', index = None, header=False, sep = "\t")
#indv_data.to_csv ('snpdistance/data.pedind', index = None, header=False, sep = "\t")

In [49]:
ped_result

,FamilyID,hgdp_id,3rd,4th,Gender,Case,s0836_a,s0836_b,s0837_a,s0837_b,...,s4986_a,s4986_b,s4988_a,s4988_b,s4989_a,s4989_b,s4990_a,s4990_b,s4991_a,s4991_b
0,1,HGDP00001,0,0,1,1,T,T,A,A,...,G,G,G,C,G,G,C,C,C,C
1,2,HGDP00003,0,0,1,1,T,T,A,G,...,G,G,G,G,G,G,C,C,C,C
2,3,HGDP00005,0,0,1,1,T,T,G,G,...,G,G,G,G,G,G,C,C,C,C
3,4,HGDP00007,0,0,1,1,T,T,A,G,...,0,0,0,0,0,0,0,0,0,0
4,5,HGDP00009,0,0,1,1,T,T,G,G,...,G,G,G,G,G,G,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,693,HGDP01415,0,0,1,2,T,T,G,G,...,0,0,0,0,0,0,0,0,0,0
693,694,HGDP01416,0,0,1,2,T,T,A,G,...,G,A,C,C,G,G,C,C,T,T
694,695,HGDP01417,0,0,1,2,0,0,A,G,...,0,0,0,0,0,0,0,0,0,0
695,696,HGDP01418,0,0,1,2,0,0,A,G,...,G,G,G,C,G,G,C,C,C,C
696,697,HGDP01419,0,0,1,2,0,0,A,G,...,G,G,G,C,G,G,C,C,C,C

In [50]:
distantdata

,index,FamilyID,hgdp_id,Gender,population,Geographic origin,Region,Case,3rd,4th
0,0,1,HGDP00001,1,Brahui,Pakistan,Asia,1,0,0
1,1,2,HGDP00003,1,Brahui,Pakistan,Asia,1,0,0
2,2,3,HGDP00005,1,Brahui,Pakistan,Asia,1,0,0
3,3,4,HGDP00007,1,Brahui,Pakistan,Asia,1,0,0
4,4,5,HGDP00009,1,Brahui,Pakistan,Asia,1,0,0
...,...,...,...,...,...,...,...,...,...,...
692,947,693,HGDP01415,1,Bantu_N.E.,Kenya,Subsaharian Africa,2,0,0
693,948,694,HGDP01416,1,Bantu_N.E.,Kenya,Subsaharian Africa,2,0,0
694,949,695,HGDP01417,1,Bantu_N.E.,Kenya,Subsaharian Africa,2,0,0
695,950,696,HGDP01418,1,Bantu_N.E.,Kenya,Subsaharian Africa,2,0,0
696,951,697,HGDP01419,1,Bantu_N.E.,Kenya,Subsaharian Africa,2,0,0

In [51]:
snpdf[snpdf.mkr_ceph_id == 971]

,mkr_ceph_id,mkr_sub_id,identifier,dbsnp_id,genbank_id,method,type_marker,chrom,poly,ancestral_all,physical_pos,comment,version_db_id,gene_symbol,nb_allele,ref_allele,var_allele,genetic_pos
970,971,2,G14-SN-3PS12,rs34478890,NaN,genotyping,snp,2,TGTAA/GTCC,NaN,217354999,NaN,V2.0,IGFBP2-IGF,2,TGTAA,GTCC,0.0

In [52]:
count = 0
all = []
for v,r in zip(snpdf.ref_allele, snpdf.mkr_ceph_id):
    if(len(v)>1):
        print(v)
        print(r)
        count= count + 1
        all.append(v)
print(count)
print(all)

TGTAA
971
AT
1501
CT
1702
3
['TGTAA', 'AT', 'CT']

In [53]:
new_ped_result = ped_result.drop(['s0971_a','s0971_b','s1501_a','s1501_b','s1702_a','s1702_b'],axis = 1, inplace = False)
new_ped_result

,FamilyID,hgdp_id,3rd,4th,Gender,Case,s0836_a,s0836_b,s0837_a,s0837_b,...,s4986_a,s4986_b,s4988_a,s4988_b,s4989_a,s4989_b,s4990_a,s4990_b,s4991_a,s4991_b
0,1,HGDP00001,0,0,1,1,T,T,A,A,...,G,G,G,C,G,G,C,C,C,C
1,2,HGDP00003,0,0,1,1,T,T,A,G,...,G,G,G,G,G,G,C,C,C,C
2,3,HGDP00005,0,0,1,1,T,T,G,G,...,G,G,G,G,G,G,C,C,C,C
3,4,HGDP00007,0,0,1,1,T,T,A,G,...,0,0,0,0,0,0,0,0,0,0
4,5,HGDP00009,0,0,1,1,T,T,G,G,...,G,G,G,G,G,G,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,693,HGDP01415,0,0,1,2,T,T,G,G,...,0,0,0,0,0,0,0,0,0,0
693,694,HGDP01416,0,0,1,2,T,T,A,G,...,G,A,C,C,G,G,C,C,T,T
694,695,HGDP01417,0,0,1,2,0,0,A,G,...,0,0,0,0,0,0,0,0,0,0
695,696,HGDP01418,0,0,1,2,0,0,A,G,...,G,G,G,C,G,G,C,C,C,C
696,697,HGDP01419,0,0,1,2,0,0,A,G,...,G,G,G,C,G,G,C,C,C,C

In [54]:
unwanted_snp =['s0971_a','s0971_b','s1501_a','s1501_b','s1702_a','s1702_b']
unwanted_snp
len(snp_ab)
for item in unwanted_snp:
    snp_ab.remove(item)
len(snp_ab)

8276

In [55]:
new_snpfile = snpfile.drop([970,1500,1701], axis = 0, inplace = False)

In [56]:
new_snpfile

      chrom  mkr_ceph_id  genetic_pos  physical_pos ref_allele var_allele
835       1          836          0.0     119647103          T          C
836       1          837          0.0     119648305          A          G
837       1          838          0.0     119651056          A          C
838       1          839          0.0     119652423          T          G
839       1          840          0.0     119652797          T          A
...     ...          ...          ...           ...        ...        ...
4985     22         4986          0.0      40849445          G          A
4987     22         4988          0.0      40849630          G          C
4988     22         4989          0.0      40849632          G          A
4989     22         4990          0.0      40850270          C          T
4990     22         4991          0.0      40851192          C          T

[4138 rows x 6 columns]

In [57]:
#new_snpfile.to_csv ('snpdistance/newdata.pedsnp', index = None, header=False, sep = "\t")
#new_ped_result.to_csv ('snpdistance/newdata.ped', index = None, header=False, sep = "\t")

In [58]:
#ped_with_whitespace = new_ped_result[snp_ab]
#ped_with_whitespace
new_ped_result

,FamilyID,hgdp_id,3rd,4th,Gender,Case,s0836_a,s0836_b,s0837_a,s0837_b,...,s4986_a,s4986_b,s4988_a,s4988_b,s4989_a,s4989_b,s4990_a,s4990_b,s4991_a,s4991_b
0,1,HGDP00001,0,0,1,1,T,T,A,A,...,G,G,G,C,G,G,C,C,C,C
1,2,HGDP00003,0,0,1,1,T,T,A,G,...,G,G,G,G,G,G,C,C,C,C
2,3,HGDP00005,0,0,1,1,T,T,G,G,...,G,G,G,G,G,G,C,C,C,C
3,4,HGDP00007,0,0,1,1,T,T,A,G,...,0,0,0,0,0,0,0,0,0,0
4,5,HGDP00009,0,0,1,1,T,T,G,G,...,G,G,G,G,G,G,C,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,693,HGDP01415,0,0,1,2,T,T,G,G,...,0,0,0,0,0,0,0,0,0,0
693,694,HGDP01416,0,0,1,2,T,T,A,G,...,G,A,C,C,G,G,C,C,T,T
694,695,HGDP01417,0,0,1,2,0,0,A,G,...,0,0,0,0,0,0,0,0,0,0
695,696,HGDP01418,0,0,1,2,0,0,A,G,...,G,G,G,C,G,G,C,C,C,C
696,697,HGDP01419,0,0,1,2,0,0,A,G,...,G,G,G,C,G,G,C,C,C,C

In [59]:
new_ped_result['combined'] = new_ped_result[snp_ab].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

In [67]:
header_column =['FamilyID', 'hgdp_id', '3rd', '4th', 'Gender', 'Case']
#header_column
new_ped_result['header_column'] = new_ped_result[header_column].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

In [68]:
new_ped_result['header_column']

0        1 HGDP00001 0 0 1 1
1        2 HGDP00003 0 0 1 1
2        3 HGDP00005 0 0 1 1
3        4 HGDP00007 0 0 1 1
4        5 HGDP00009 0 0 1 1
               ...
692    693 HGDP01415 0 0 1 2
693    694 HGDP01416 0 0 1 2
694    695 HGDP01417 0 0 1 2
695    696 HGDP01418 0 0 1 2
696    697 HGDP01419 0 0 1 2
Name: header_column, Length: 697, dtype: object

In [69]:
all_together = ['header_column','combined']
new_ped_result['all_together'] = new_ped_result[all_together].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

In [61]:
snp_whitesp_data = pd.DataFrame(new_ped_result, columns = ["FamilyID", "hgdp_id","3rd","4th","Gender","Case","combined"])

In [62]:
snp_whitesp_data

,FamilyID,hgdp_id,3rd,4th,Gender,Case,combined
0,1,HGDP00001,0,0,1,1,T T A A A A G G T T A A G G G G C C C C C C C ...
1,2,HGDP00003,0,0,1,1,T T A G A A G G T T A A A G G G C T C C C T C ...
2,3,HGDP00005,0,0,1,1,T T G G A C T G T A T A A A T G C T T C T T C ...
3,4,HGDP00007,0,0,1,1,T T A G A C T G T A T A A G G G C C T C C T C ...
4,5,HGDP00009,0,0,1,1,T T G G 0 0 T T A A T T A A T T C C T T T T C ...
...,...,...,...,...,...,...,...
692,693,HGDP01415,0,0,1,2,T T G G 0 0 T T A A T T A A T G C C T T T T C ...
693,694,HGDP01416,0,0,1,2,T T A G A C T G T A T A A G T G C C T C C T C ...
694,695,HGDP01417,0,0,1,2,0 0 A G A C T G 0 0 T A A G T G C C T C C T 0 ...
695,696,HGDP01418,0,0,1,2,0 0 A G A C T G T A T A A G T G C C T C C T 0 ...
696,697,HGDP01419,0,0,1,2,0 0 A G 0 0 0 0 0 0 A A 0 0 0 0 0 0 0 0 C T 0 ...

In [63]:
#snp_whitesp_data.to_csv ('snpdistance/whitespace_data.ped', index = None, header=False, sep = "\t")

In [70]:
snp_all_whitesp_data = pd.DataFrame(new_ped_result, columns = ["all_together"])
snp_all_whitesp_data

                                          all_together
0    1 HGDP00001 0 0 1 1 T T A A A A G G T T A A G ...
1    2 HGDP00003 0 0 1 1 T T A G A A G G T T A A A ...
2    3 HGDP00005 0 0 1 1 T T G G A C T G T A T A A ...
3    4 HGDP00007 0 0 1 1 T T A G A C T G T A T A A ...
4    5 HGDP00009 0 0 1 1 T T G G 0 0 T T A A T T A ...
..                                                 ...
692  693 HGDP01415 0 0 1 2 T T G G 0 0 T T A A T T ...
693  694 HGDP01416 0 0 1 2 T T A G A C T G T A T A ...
694  695 HGDP01417 0 0 1 2 0 0 A G A C T G 0 0 T A ...
695  696 HGDP01418 0 0 1 2 0 0 A G A C T G T A T A ...
696  697 HGDP01419 0 0 1 2 0 0 A G 0 0 0 0 0 0 A A ...

[697 rows x 1 columns]

In [71]:
#snp_all_whitesp_data.to_csv ('snpdistance/all_whitespace_data.ped', index = None, header=False, sep = "\t")