In [167]:
import pandas as pd

In [168]:
df = pd.read_csv("pam_3_clus_result.txt",sep="\t",)

In [169]:
df = df.rename(columns={"Geographic.origin":"Country"})
df

       hgdp_id      Origin   Country  cluster
0    HGDP00001      Brahui  Pakistan        1
1    HGDP00003      Brahui  Pakistan        1
2    HGDP00005      Brahui  Pakistan        1
3    HGDP00007      Brahui  Pakistan        1
4    HGDP00009      Brahui  Pakistan        1
..         ...         ...       ...      ...
648  HGDP01415  Bantu_N.E.     Kenya        1
649  HGDP01416  Bantu_N.E.     Kenya        1
650  HGDP01417  Bantu_N.E.     Kenya        1
651  HGDP01418  Bantu_N.E.     Kenya        1
652  HGDP01419  Bantu_N.E.     Kenya        1

[653 rows x 4 columns]

In [170]:
import numpy as np
origin = pd.unique(df.Origin)

In [171]:
sdf = pd.read_csv("sorted.txt",sep="\t",names=['test'], header = None) 
sdf
sorter = sdf.test.tolist()
#sorter

In [172]:
#sorter
df.Origin = df.Origin.astype("category")
df.Origin.cat.set_categories(sorter, inplace=True)
df = df.sort_values(["Origin"]) 
df

       hgdp_id         Origin                   Country  cluster
201  HGDP00475  Biaka_Pygmies  Central African Republic        1
430  HGDP01086  Biaka_Pygmies  Central African Republic        1
431  HGDP01094  Biaka_Pygmies  Central African Republic        1
192  HGDP00452  Biaka_Pygmies  Central African Republic        1
203  HGDP00479  Biaka_Pygmies  Central African Republic        1
..         ...            ...                       ...      ...
636  HGDP01397         Adygei           Russia Caucasus        2
635  HGDP01396         Adygei           Russia Caucasus        2
634  HGDP01388         Adygei           Russia Caucasus        2
632  HGDP01386         Adygei           Russia Caucasus        2
637  HGDP01398         Adygei           Russia Caucasus        1

[653 rows x 4 columns]

In [173]:
df['Cluster1'] = np.where(df['cluster']==1, 1, 0)
df['Cluster2'] = np.where(df['cluster']==2, 1, 0)
df['Cluster3'] = np.where(df['cluster']==3, 1, 0)
df

,hgdp_id,Origin,Country,cluster,Cluster1,Cluster2,Cluster3
201,HGDP00475,Biaka_Pygmies,Central African Republic,1,1,0,0
430,HGDP01086,Biaka_Pygmies,Central African Republic,1,1,0,0
431,HGDP01094,Biaka_Pygmies,Central African Republic,1,1,0,0
192,HGDP00452,Biaka_Pygmies,Central African Republic,1,1,0,0
203,HGDP00479,Biaka_Pygmies,Central African Republic,1,1,0,0
...,...,...,...,...,...,...,...
636,HGDP01397,Adygei,Russia Caucasus,2,0,1,0
635,HGDP01396,Adygei,Russia Caucasus,2,0,1,0
634,HGDP01388,Adygei,Russia Caucasus,2,0,1,0
632,HGDP01386,Adygei,Russia Caucasus,2,0,1,0
637,HGDP01398,Adygei,Russia Caucasus,1,1,0,0

In [174]:
newdf = df.groupby(['Origin'],sort = False)['Cluster1','Cluster2','Cluster3'].mean()

<ipython-input-174-9011f4fe1479>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  newdf = df.groupby(['Origin'],sort = False)['Cluster1','Cluster2','Cluster3'].mean()

In [175]:
newdf

                    Cluster1  Cluster2  Cluster3
Origin
Biaka_Pygmies       0.923077  0.076923  0.000000
Mbuti_Pygmies       1.000000  0.000000  0.000000
Bantu_N.E.          1.000000  0.000000  0.000000
San                 1.000000  0.000000  0.000000
Yoruba              0.928571  0.071429  0.000000
Mandenka            0.937500  0.062500  0.000000
Bantu_S.E._Pedi     1.000000  0.000000  0.000000
Bantu_S.E._S.Sotho  1.000000  0.000000  0.000000
Bantu_S.W._Herero   1.000000  0.000000  0.000000
Bantu_S.W._Ovambo   1.000000  0.000000  0.000000
Balochi             0.956522  0.043478  0.000000
Brahui              0.960000  0.040000  0.000000
Burusho             0.960000  0.040000  0.000000
Hazara              0.545455  0.181818  0.272727
Kalash              1.000000  0.000000  0.000000
Makrani             0.920000  0.080000  0.000000
Pathan              0.958333  0.041667  0.000000
Sindhi              1.000000  0.000000  0.000000
Uygur               0.700000  0.000000  0.300000
Dai                 0.000000  0.000000  1.000000
Daur                0.000000  0.000000  1.000000
Han                 0.000000  0.000000  1.000000
Hezhen              0.000000  0.000000  1.000000
Lahu                0.000000  0.000000  1.000000
Miaozu              0.000000  0.000000  1.000000
Mongola             0.000000  0.000000  1.000000
Naxi                0.000000  0.000000  1.000000
Oroqen              0.000000  0.000000  1.000000
She                 0.000000  0.000000  1.000000
Tu                  0.000000  0.000000  1.000000
Tujia               0.000000  0.000000  1.000000
Xibo                0.000000  0.000000  1.000000
Yizu                0.000000  0.000000  1.000000
Cambodians          0.100000  0.000000  0.900000
Japanese            0.000000  0.000000  1.000000
Yakut               0.000000  0.000000  1.000000
French              0.000000  1.000000  0.000000
French_Basque       0.000000  1.000000  0.000000
Sardinian           0.071429  0.928571  0.000000
Tuscan              0.375000  0.625000  0.000000
North_Italian       0.153846  0.846154  0.000000
Orcadian            0.200000  0.800000  0.000000
Russian             0.160000  0.840000  0.000000
Adygei              0.352941  0.647059  0.000000

In [176]:
countdf = df.groupby(['Origin'],sort = False)['Origin'].count()
newdf = newdf.join(countdf)

In [177]:
newdf = newdf.rename(columns={"Origin":"Average"})
newdf

                    Cluster1  Cluster2  Cluster3  Average
Origin
Biaka_Pygmies       0.923077  0.076923  0.000000       13
Mbuti_Pygmies       1.000000  0.000000  0.000000        5
Bantu_N.E.          1.000000  0.000000  0.000000        9
San                 1.000000  0.000000  0.000000        1
Yoruba              0.928571  0.071429  0.000000       14
Mandenka            0.937500  0.062500  0.000000       16
Bantu_S.E._Pedi     1.000000  0.000000  0.000000        1
Bantu_S.E._S.Sotho  1.000000  0.000000  0.000000        1
Bantu_S.W._Herero   1.000000  0.000000  0.000000        1
Bantu_S.W._Ovambo   1.000000  0.000000  0.000000        1
Balochi             0.956522  0.043478  0.000000       23
Brahui              0.960000  0.040000  0.000000       25
Burusho             0.960000  0.040000  0.000000       25
Hazara              0.545455  0.181818  0.272727       22
Kalash              1.000000  0.000000  0.000000       23
Makrani             0.920000  0.080000  0.000000       25
Pathan              0.958333  0.041667  0.000000       24
Sindhi              1.000000  0.000000  0.000000       24
Uygur               0.700000  0.000000  0.300000       10
Dai                 0.000000  0.000000  1.000000       10
Daur                0.000000  0.000000  1.000000       10
Han                 0.000000  0.000000  1.000000       44
Hezhen              0.000000  0.000000  1.000000        9
Lahu                0.000000  0.000000  1.000000        8
Miaozu              0.000000  0.000000  1.000000       10
Mongola             0.000000  0.000000  1.000000       10
Naxi                0.000000  0.000000  1.000000        9
Oroqen              0.000000  0.000000  1.000000        9
She                 0.000000  0.000000  1.000000       10
Tu                  0.000000  0.000000  1.000000       10
Tujia               0.000000  0.000000  1.000000       10
Xibo                0.000000  0.000000  1.000000        9
Yizu                0.000000  0.000000  1.000000       10
Cambodians          0.100000  0.000000  0.900000       10
Japanese            0.000000  0.000000  1.000000       29
Yakut               0.000000  0.000000  1.000000       25
French              0.000000  1.000000  0.000000       28
French_Basque       0.000000  1.000000  0.000000       24
Sardinian           0.071429  0.928571  0.000000       28
Tuscan              0.375000  0.625000  0.000000        8
North_Italian       0.153846  0.846154  0.000000       13
Orcadian            0.200000  0.800000  0.000000       15
Russian             0.160000  0.840000  0.000000       25
Adygei              0.352941  0.647059  0.000000       17

In [178]:
newdf.insert(0, 'NewID', range(1, 1 + len(newdf)))

In [179]:
names_file = pd.DataFrame(newdf, columns = ['NewID'])
names_file

                    NewID
Origin
Biaka_Pygmies           1
Mbuti_Pygmies           2
Bantu_N.E.              3
San                     4
Yoruba                  5
Mandenka                6
Bantu_S.E._Pedi         7
Bantu_S.E._S.Sotho      8
Bantu_S.W._Herero       9
Bantu_S.W._Ovambo      10
Balochi                11
Brahui                 12
Burusho                13
Hazara                 14
Kalash                 15
Makrani                16
Pathan                 17
Sindhi                 18
Uygur                  19
Dai                    20
Daur                   21
Han                    22
Hezhen                 23
Lahu                   24
Miaozu                 25
Mongola                26
Naxi                   27
Oroqen                 28
She                    29
Tu                     30
Tujia                  31
Xibo                   32
Yizu                   33
Cambodians             34
Japanese               35
Yakut                  36
French                 37
French_Basque          38
Sardinian              39
Tuscan                 40
North_Italian          41
Orcadian               42
Russian                43
Adygei                 44

In [180]:
newdf['NewID'] =newdf['NewID'].astype(str)+':'

In [181]:
newdf

                   NewID  Cluster1  Cluster2  Cluster3  Average
Origin
Biaka_Pygmies         1:  0.923077  0.076923  0.000000       13
Mbuti_Pygmies         2:  1.000000  0.000000  0.000000        5
Bantu_N.E.            3:  1.000000  0.000000  0.000000        9
San                   4:  1.000000  0.000000  0.000000        1
Yoruba                5:  0.928571  0.071429  0.000000       14
Mandenka              6:  0.937500  0.062500  0.000000       16
Bantu_S.E._Pedi       7:  1.000000  0.000000  0.000000        1
Bantu_S.E._S.Sotho    8:  1.000000  0.000000  0.000000        1
Bantu_S.W._Herero     9:  1.000000  0.000000  0.000000        1
Bantu_S.W._Ovambo    10:  1.000000  0.000000  0.000000        1
Balochi              11:  0.956522  0.043478  0.000000       23
Brahui               12:  0.960000  0.040000  0.000000       25
Burusho              13:  0.960000  0.040000  0.000000       25
Hazara               14:  0.545455  0.181818  0.272727       22
Kalash               15:  1.000000  0.000000  0.000000       23
Makrani              16:  0.920000  0.080000  0.000000       25
Pathan               17:  0.958333  0.041667  0.000000       24
Sindhi               18:  1.000000  0.000000  0.000000       24
Uygur                19:  0.700000  0.000000  0.300000       10
Dai                  20:  0.000000  0.000000  1.000000       10
Daur                 21:  0.000000  0.000000  1.000000       10
Han                  22:  0.000000  0.000000  1.000000       44
Hezhen               23:  0.000000  0.000000  1.000000        9
Lahu                 24:  0.000000  0.000000  1.000000        8
Miaozu               25:  0.000000  0.000000  1.000000       10
Mongola              26:  0.000000  0.000000  1.000000       10
Naxi                 27:  0.000000  0.000000  1.000000        9
Oroqen               28:  0.000000  0.000000  1.000000        9
She                  29:  0.000000  0.000000  1.000000       10
Tu                   30:  0.000000  0.000000  1.000000       10
Tujia                31:  0.000000  0.000000  1.000000       10
Xibo                 32:  0.000000  0.000000  1.000000        9
Yizu                 33:  0.000000  0.000000  1.000000       10
Cambodians           34:  0.100000  0.000000  0.900000       10
Japanese             35:  0.000000  0.000000  1.000000       29
Yakut                36:  0.000000  0.000000  1.000000       25
French               37:  0.000000  1.000000  0.000000       28
French_Basque        38:  0.000000  1.000000  0.000000       24
Sardinian            39:  0.071429  0.928571  0.000000       28
Tuscan               40:  0.375000  0.625000  0.000000        8
North_Italian        41:  0.153846  0.846154  0.000000       13
Orcadian             42:  0.200000  0.800000  0.000000       15
Russian              43:  0.160000  0.840000  0.000000       25
Adygei               44:  0.352941  0.647059  0.000000       17

In [182]:
names_file = names_file.reset_index()
names_file

                Origin  NewID
0        Biaka_Pygmies      1
1        Mbuti_Pygmies      2
2           Bantu_N.E.      3
3                  San      4
4               Yoruba      5
5             Mandenka      6
6      Bantu_S.E._Pedi      7
7   Bantu_S.E._S.Sotho      8
8    Bantu_S.W._Herero      9
9    Bantu_S.W._Ovambo     10
10             Balochi     11
11              Brahui     12
12             Burusho     13
13              Hazara     14
14              Kalash     15
15             Makrani     16
16              Pathan     17
17              Sindhi     18
18               Uygur     19
19                 Dai     20
20                Daur     21
21                 Han     22
22              Hezhen     23
23                Lahu     24
24              Miaozu     25
25             Mongola     26
26                Naxi     27
27              Oroqen     28
28                 She     29
29                  Tu     30
30               Tujia     31
31                Xibo     32
32                Yizu     33
33          Cambodians     34
34            Japanese     35
35               Yakut     36
36              French     37
37       French_Basque     38
38           Sardinian     39
39              Tuscan     40
40       North_Italian     41
41            Orcadian     42
42             Russian     43
43              Adygei     44

In [152]:
'''
new_df = newdf.style.format({
    'Cluster1': '{:,.2f}'.format,
    'Cluster2': '{:,.2f}'.format,
    'Cluster3': '{:,.2f}'.format,
})
'''

"\nnew_df = newdf.style.format({\n    'Cluster1': '{:,.2f}'.format,\n    'Cluster2': '{:,.2f}'.format,\n    'Cluster3': '{:,.2f}'.format,\n})\n"

In [183]:
#newdf['Cluster1'].astype(int32)
newdf

                   NewID  Cluster1  Cluster2  Cluster3  Average
Origin
Biaka_Pygmies         1:  0.923077  0.076923  0.000000       13
Mbuti_Pygmies         2:  1.000000  0.000000  0.000000        5
Bantu_N.E.            3:  1.000000  0.000000  0.000000        9
San                   4:  1.000000  0.000000  0.000000        1
Yoruba                5:  0.928571  0.071429  0.000000       14
Mandenka              6:  0.937500  0.062500  0.000000       16
Bantu_S.E._Pedi       7:  1.000000  0.000000  0.000000        1
Bantu_S.E._S.Sotho    8:  1.000000  0.000000  0.000000        1
Bantu_S.W._Herero     9:  1.000000  0.000000  0.000000        1
Bantu_S.W._Ovambo    10:  1.000000  0.000000  0.000000        1
Balochi              11:  0.956522  0.043478  0.000000       23
Brahui               12:  0.960000  0.040000  0.000000       25
Burusho              13:  0.960000  0.040000  0.000000       25
Hazara               14:  0.545455  0.181818  0.272727       22
Kalash               15:  1.000000  0.000000  0.000000       23
Makrani              16:  0.920000  0.080000  0.000000       25
Pathan               17:  0.958333  0.041667  0.000000       24
Sindhi               18:  1.000000  0.000000  0.000000       24
Uygur                19:  0.700000  0.000000  0.300000       10
Dai                  20:  0.000000  0.000000  1.000000       10
Daur                 21:  0.000000  0.000000  1.000000       10
Han                  22:  0.000000  0.000000  1.000000       44
Hezhen               23:  0.000000  0.000000  1.000000        9
Lahu                 24:  0.000000  0.000000  1.000000        8
Miaozu               25:  0.000000  0.000000  1.000000       10
Mongola              26:  0.000000  0.000000  1.000000       10
Naxi                 27:  0.000000  0.000000  1.000000        9
Oroqen               28:  0.000000  0.000000  1.000000        9
She                  29:  0.000000  0.000000  1.000000       10
Tu                   30:  0.000000  0.000000  1.000000       10
Tujia                31:  0.000000  0.000000  1.000000       10
Xibo                 32:  0.000000  0.000000  1.000000        9
Yizu                 33:  0.000000  0.000000  1.000000       10
Cambodians           34:  0.100000  0.000000  0.900000       10
Japanese             35:  0.000000  0.000000  1.000000       29
Yakut                36:  0.000000  0.000000  1.000000       25
French               37:  0.000000  1.000000  0.000000       28
French_Basque        38:  0.000000  1.000000  0.000000       24
Sardinian            39:  0.071429  0.928571  0.000000       28
Tuscan               40:  0.375000  0.625000  0.000000        8
North_Italian        41:  0.153846  0.846154  0.000000       13
Orcadian             42:  0.200000  0.800000  0.000000       15
Russian              43:  0.160000  0.840000  0.000000       25
Adygei               44:  0.352941  0.647059  0.000000       17

In [184]:
newdf.to_csv ('casia_distant.popq', index = None, header=False, sep = '\t')

In [185]:
names_file

                Origin  NewID
0        Biaka_Pygmies      1
1        Mbuti_Pygmies      2
2           Bantu_N.E.      3
3                  San      4
4               Yoruba      5
5             Mandenka      6
6      Bantu_S.E._Pedi      7
7   Bantu_S.E._S.Sotho      8
8    Bantu_S.W._Herero      9
9    Bantu_S.W._Ovambo     10
10             Balochi     11
11              Brahui     12
12             Burusho     13
13              Hazara     14
14              Kalash     15
15             Makrani     16
16              Pathan     17
17              Sindhi     18
18               Uygur     19
19                 Dai     20
20                Daur     21
21                 Han     22
22              Hezhen     23
23                Lahu     24
24              Miaozu     25
25             Mongola     26
26                Naxi     27
27              Oroqen     28
28                 She     29
29                  Tu     30
30               Tujia     31
31                Xibo     32
32                Yizu     33
33          Cambodians     34
34            Japanese     35
35               Yakut     36
36              French     37
37       French_Basque     38
38           Sardinian     39
39              Tuscan     40
40       North_Italian     41
41            Orcadian     42
42             Russian     43
43              Adygei     44

In [156]:
#names_file.to_csv ('casia_distant.names', index = True, header=False, sep = '\t')

In [157]:
#df

In [186]:
tdf = df.groupby(['Origin'],sort = False)['Origin'].count()
tdf

Origin
Biaka_Pygmies         13
Mbuti_Pygmies          5
Bantu_N.E.             9
San                    1
Yoruba                14
Mandenka              16
Bantu_S.E._Pedi        1
Bantu_S.E._S.Sotho     1
Bantu_S.W._Herero      1
Bantu_S.W._Ovambo      1
Balochi               23
Brahui                25
Burusho               25
Hazara                22
Kalash                23
Makrani               25
Pathan                24
Sindhi                24
Uygur                 10
Dai                   10
Daur                  10
Han                   44
Hezhen                 9
Lahu                   8
Miaozu                10
Mongola               10
Naxi                   9
Oroqen                 9
She                   10
Tu                    10
Tujia                 10
Xibo                   9
Yizu                  10
Cambodians            10
Japanese              29
Yakut                 25
French                28
French_Basque         24
Sardinian             28
Tuscan                 8
North_Italian         13
Orcadian              15
Russian               25
Adygei                17
Name: Origin, dtype: int64

In [187]:
names_file

                Origin  NewID
0        Biaka_Pygmies      1
1        Mbuti_Pygmies      2
2           Bantu_N.E.      3
3                  San      4
4               Yoruba      5
5             Mandenka      6
6      Bantu_S.E._Pedi      7
7   Bantu_S.E._S.Sotho      8
8    Bantu_S.W._Herero      9
9    Bantu_S.W._Ovambo     10
10             Balochi     11
11              Brahui     12
12             Burusho     13
13              Hazara     14
14              Kalash     15
15             Makrani     16
16              Pathan     17
17              Sindhi     18
18               Uygur     19
19                 Dai     20
20                Daur     21
21                 Han     22
22              Hezhen     23
23                Lahu     24
24              Miaozu     25
25             Mongola     26
26                Naxi     27
27              Oroqen     28
28                 She     29
29                  Tu     30
30               Tujia     31
31                Xibo     32
32                Yizu     33
33          Cambodians     34
34            Japanese     35
35               Yakut     36
36              French     37
37       French_Basque     38
38           Sardinian     39
39              Tuscan     40
40       North_Italian     41
41            Orcadian     42
42             Russian     43
43              Adygei     44

In [188]:
names_file = pd.DataFrame(names_file, columns=["NewID","Origin"])

In [189]:
names_file.to_csv ('casia_distant.names', index = None, header=False, sep = '\t')

In [190]:
newdf = pd.DataFrame(df, columns = ['Origin','Country'])

In [191]:
gdf = newdf.groupby('Origin')
gdf2 = gdf.apply(lambda x: x['Country'].unique())
gdf2 = gdf2.apply(pd.Series)

In [192]:
gdf2

                                               0
Origin
Biaka_Pygmies           Central African Republic
Mbuti_Pygmies       Democratic Republic of Congo
Bantu_N.E.                                 Kenya
San                                      Namibia
Yoruba                                   Nigeria
Mandenka                                 Senegal
Bantu_S.E._Pedi                     South Africa
Bantu_S.E._S.Sotho                  South Africa
Bantu_S.W._Herero                   South Africa
Bantu_S.W._Ovambo                   South Africa
Balochi                                 Pakistan
Brahui                                  Pakistan
Burusho                                 Pakistan
Hazara                                  Pakistan
Kalash                                  Pakistan
Makrani                                 Pakistan
Pathan                                  Pakistan
Sindhi                                  Pakistan
Uygur                                      China
Dai                                        China
Daur                                       China
Han                                        China
Hezhen                                     China
Lahu                                       China
Miaozu                                     China
Mongola                                    China
Naxi                                       China
Oroqen                                     China
She                                        China
Tu                                         China
Tujia                                      China
Xibo                                       China
Yizu                                       China
Cambodians                              Cambodia
Japanese                                   Japan
Yakut                                    Siberia
French                                    France
French_Basque                             France
Sardinian                                  Italy
Tuscan                                     Italy
North_Italian                    Italy (Bergamo)
Orcadian                          Orkney Islands
Russian                                   Russia
Adygei                           Russia Caucasus

In [193]:
language_file = names_file.merge(gdf2, on = 'Origin', how = 'inner')
language_file = pd.DataFrame(language_file, columns=['NewID', 0])
language_file

    NewID                             0
0       1      Central African Republic
1       2  Democratic Republic of Congo
2       3                         Kenya
3       4                       Namibia
4       5                       Nigeria
5       6                       Senegal
6       7                  South Africa
7       8                  South Africa
8       9                  South Africa
9      10                  South Africa
10     11                      Pakistan
11     12                      Pakistan
12     13                      Pakistan
13     14                      Pakistan
14     15                      Pakistan
15     16                      Pakistan
16     17                      Pakistan
17     18                      Pakistan
18     19                         China
19     20                         China
20     21                         China
21     22                         China
22     23                         China
23     24                         China
24     25                         China
25     26                         China
26     27                         China
27     28                         China
28     29                         China
29     30                         China
30     31                         China
31     32                         China
32     33                         China
33     34                      Cambodia
34     35                         Japan
35     36                       Siberia
36     37                        France
37     38                        France
38     39                         Italy
39     40                         Italy
40     41               Italy (Bergamo)
41     42                Orkney Islands
42     43                        Russia
43     44               Russia Caucasus

In [194]:
language_file.to_csv ('casia_distant.languages', index = None, header=False, sep = '\t')