In [114]:
import pandas as pd

In [115]:
df = pd.read_csv("spectral_k_means_3_clus_result.txt",sep="\t",) 
#df = df.rename(columns={"X.eigvals.":"HGDP"})
#df

In [116]:
import numpy as np

In [117]:
sdf = pd.read_csv("sorted.txt",sep="\t",names=['test'], header = None) 
#sdf
sorter = sdf.test.tolist()
df.Origin = df.Origin.astype("category")
df.Origin.cat.set_categories(sorter, inplace=True)
df = df.sort_values(["Origin"]) 
df

       hgdp_id         Origin         Geographic.origin  cluster
201  HGDP00475  Biaka_Pygmies  Central African Republic        3
430  HGDP01086  Biaka_Pygmies  Central African Republic        3
431  HGDP01094  Biaka_Pygmies  Central African Republic        3
192  HGDP00452  Biaka_Pygmies  Central African Republic        3
203  HGDP00479  Biaka_Pygmies  Central African Republic        3
..         ...            ...                       ...      ...
636  HGDP01397         Adygei           Russia Caucasus        2
635  HGDP01396         Adygei           Russia Caucasus        2
634  HGDP01388         Adygei           Russia Caucasus        2
632  HGDP01386         Adygei           Russia Caucasus        2
637  HGDP01398         Adygei           Russia Caucasus        2

[653 rows x 4 columns]

In [118]:
df['Cluster1'] = np.where(df['cluster']==1, 1, 0)
df['Cluster2'] = np.where(df['cluster']==2, 1, 0)
df['Cluster3'] = np.where(df['cluster']==3, 1, 0)
#df

In [119]:
names_file = pd.read_csv("casia_distant.names",sep="\t",header = None) 
#names_file

In [120]:

names_file.columns = ['ID', 'Origin']
names_file

    ID              Origin
0    1       Biaka_Pygmies
1    2       Mbuti_Pygmies
2    3          Bantu_N.E.
3    4                 San
4    5              Yoruba
5    6            Mandenka
6    7     Bantu_S.E._Pedi
7    8  Bantu_S.E._S.Sotho
8    9   Bantu_S.W._Herero
9   10   Bantu_S.W._Ovambo
10  11             Balochi
11  12              Brahui
12  13             Burusho
13  14              Hazara
14  15              Kalash
15  16             Makrani
16  17              Pathan
17  18              Sindhi
18  19               Uygur
19  20                 Dai
20  21                Daur
21  22                 Han
22  23              Hezhen
23  24                Lahu
24  25              Miaozu
25  26             Mongola
26  27                Naxi
27  28              Oroqen
28  29                 She
29  30                  Tu
30  31               Tujia
31  32                Xibo
32  33                Yizu
33  34          Cambodians
34  35            Japanese
35  36               Yakut
36  37              French
37  38       French_Basque
38  39           Sardinian
39  40              Tuscan
40  41       North_Italian
41  42            Orcadian
42  43             Russian
43  44              Adygei

In [121]:
named_file = pd.merge(df, names_file, on='Origin', how='left')
named_file

,hgdp_id,Origin,Geographic.origin,cluster,Cluster1,Cluster2,Cluster3,ID
0,HGDP00475,Biaka_Pygmies,Central African Republic,3,0,0,1,1
1,HGDP01086,Biaka_Pygmies,Central African Republic,3,0,0,1,1
2,HGDP01094,Biaka_Pygmies,Central African Republic,3,0,0,1,1
3,HGDP00452,Biaka_Pygmies,Central African Republic,3,0,0,1,1
4,HGDP00479,Biaka_Pygmies,Central African Republic,3,0,0,1,1
...,...,...,...,...,...,...,...,...
648,HGDP01397,Adygei,Russia Caucasus,2,0,1,0,44
649,HGDP01396,Adygei,Russia Caucasus,2,0,1,0,44
650,HGDP01388,Adygei,Russia Caucasus,2,0,1,0,44
651,HGDP01386,Adygei,Russia Caucasus,2,0,1,0,44
652,HGDP01398,Adygei,Russia Caucasus,2,0,1,0,44

In [122]:
named_file['ID'] =named_file['ID'].astype(str)+' :'
named_file.insert(0, 'SN', range(1, 1 + len(named_file)))
named_file['Miss'] = "(0)"

#making casia.indvq like file

In [123]:
named_file

,SN,hgdp_id,Origin,Geographic.origin,cluster,Cluster1,Cluster2,Cluster3,ID,Miss
0,1,HGDP00475,Biaka_Pygmies,Central African Republic,3,0,0,1,1 :,(0)
1,2,HGDP01086,Biaka_Pygmies,Central African Republic,3,0,0,1,1 :,(0)
2,3,HGDP01094,Biaka_Pygmies,Central African Republic,3,0,0,1,1 :,(0)
3,4,HGDP00452,Biaka_Pygmies,Central African Republic,3,0,0,1,1 :,(0)
4,5,HGDP00479,Biaka_Pygmies,Central African Republic,3,0,0,1,1 :,(0)
...,...,...,...,...,...,...,...,...,...,...
648,649,HGDP01397,Adygei,Russia Caucasus,2,0,1,0,44 :,(0)
649,650,HGDP01396,Adygei,Russia Caucasus,2,0,1,0,44 :,(0)
650,651,HGDP01388,Adygei,Russia Caucasus,2,0,1,0,44 :,(0)
651,652,HGDP01386,Adygei,Russia Caucasus,2,0,1,0,44 :,(0)
652,653,HGDP01398,Adygei,Russia Caucasus,2,0,1,0,44 :,(0)

In [124]:
final_file = pd.DataFrame(named_file, columns = ["SN","hgdp_id","Miss","ID","Cluster1","Cluster2","Cluster3"])
final_file

      SN    hgdp_id Miss    ID  Cluster1  Cluster2  Cluster3
0      1  HGDP00475  (0)   1 :         0         0         1
1      2  HGDP01086  (0)   1 :         0         0         1
2      3  HGDP01094  (0)   1 :         0         0         1
3      4  HGDP00452  (0)   1 :         0         0         1
4      5  HGDP00479  (0)   1 :         0         0         1
..   ...        ...  ...   ...       ...       ...       ...
648  649  HGDP01397  (0)  44 :         0         1         0
649  650  HGDP01396  (0)  44 :         0         1         0
650  651  HGDP01388  (0)  44 :         0         1         0
651  652  HGDP01386  (0)  44 :         0         1         0
652  653  HGDP01398  (0)  44 :         0         1         0

[653 rows x 7 columns]

In [125]:
final_file.to_csv ('casia_distant.indivq', index = None, header=False, sep = '\t')